header {
    background-color: #ffffffcf;
    color: #fff;
    padding: 20px;
    border-bottom: 2px solid rgb(157, 157, 157);
}

.indice {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.img_logo {
    width: 125px;    
    height: auto;    
}

header #buscador {
    position: absolute;
    right: 20px;
  }
  
  header #buscador legend {
    display: none;
  }
  
  header #buscador fieldset {
    border: none;
  }
/*---------------------------------Centro de la pagina dividido en tres columnas -------------*/

.principal {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

/*------------------------------Division de la pagina en 3 columnas---------------------*/
.columna1 {
    width: 18%;
    background-color: #d6d6d6;
    color: #0066b3;
}

.columna2 {
    width: 60%;
    background-color: #ffffff;
}

.columna3 {
    width: 18%;
    background-color: #d6d6d6;    
}

.titulo_columna1 {
    text-align: center;
    font-size: 18px;
}

/*--------------------------------Primera columna (izd)----------------------*/
.productos {
    list-style: none;    
    padding: 0;   
}

.productos li {
    padding: 10px;    
    border-bottom: 1px solid rgb(190, 190, 190);
}

.productos li a {
    text-decoration: none;    
    color: black;
    
}

.productos li:hover {
    background-color: rgb(188, 188, 188);    
}

.soluciones {
    list-style: none;
    padding: 0;    
}

.soluciones li {
    padding: 10px;    
    border-bottom: 1px solid rgb(190, 190, 190);
}

.soluciones li a {
    text-decoration: none;
    color: black;
}

.soluciones li:hover {
    background-color: rgb(188, 188, 188);    
}

.libreria {
    list-style: none;    
    padding: 0;
    
}

.libreria li {
    padding: 10px;    
    border-bottom: 1px solid rgb(190, 190, 190);
}

.libreria li a {
    text-decoration: none;    
    color: black;
    
}

.libreria li:hover {
    background-color: rgb(188, 188, 188);    
}


/*----------------------- Barra de navegacion columna 2 ---------------------*/

#barra_navegacion {
    padding: 0 0 0 0;
}

#barra_navegacion ul {
    margin: 0 10px;
    padding: 0;
    list-style: none;
}

#barra_navegacion ul li {
    margin: 0 5px 0 0;
    padding: 0;

}

#barra_navegacion ul li a {
    display: block;
    position: relative;
    padding: 5px 15px;
    background: #d6d6d6;
    color: #0066b3;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}

#barra_navegacion ul li a:hover {
    background-color: rgb(188, 188, 188);
}

#barra_navegacion ul li.seleccionado a {
    background: #94bdff;
    color: #ffffff;
}

/*--------------------Contenido pagina principal--------------------*/

.titulo_principal {
    text-align: center;
    color: #0066b3;
}

.titulo_secundario {
    color: #0066b3;
}

.imagen1 {
    width: 350px;
    
    height: auto;

}

.imagen1 {
    float: left;    
    margin-right: 20px;    
    margin-bottom: 20px;    
}

.imagen2 {
    width: 350px;    
    height: auto;
    float: right;

}

.contenedor {
    display: flex;
    align-items: center;
}

.imagen2 {
    margin-right: 20px;
}

.t1 {
    flex-grow: 1;
}

/*-------------------------------columna derecha----------------------*/
.titulo_preguntas{
    color: #0066b3;
    text-align: center;
}
.preguntas {
    list-style: none;    
    padding: 0;  
}

.preguntas li {
    padding: 10px;    
    border-bottom: 1px solid rgb(190, 190, 190);
}

.preguntas li a {
    text-decoration: none;    
    color: black;   
}

.preguntas li:hover {
    background-color: rgb(188, 188, 188);    
}

/* -----------------------------footer ---------------------------------------------------------*/


footer {
    
    clear: both;
    background-color: #959595;
    color: #fff;
    width: 100%;
    box-sizing: border-box;
    left: 0;
    bottom: 0;
    padding: 20px;
    font-size: 12px;
}


.footer-flex {
    display: flex;
    justify-content: space-between;
}

.navegacion{
    display: flex; 
    justify-content: space-between;
}

.ubicacion {
    float: left;
}


footer .copyright {
    clear: both;

}


#mapaSMC {
    width: 180px;
    height: 120px;
}


#copyright {
    text-align: center;
    border-top: 3px solid rgb(255, 255, 255);
    margin: 1%;
    font-size: 12px;
}

.soporte {
    list-style: none;    
    padding: 0;
}

.soporte li {
    padding: 10px;
    border-bottom: 1px solid rgb(190, 190, 190);
}

.soporte li a {
    text-decoration: none;    
    color: rgb(255, 255, 255);
}

.soporte li:hover {
    background-color: rgb(188, 188, 188);
}

.redes-sociales {
    list-style: none;    
    padding: 0;
}

.redes-sociales li {
    padding: 10px;
    border-bottom: 1px solid rgb(190, 190, 190);
}

.redes-sociales li a {
    text-decoration: none;    
    color: rgb(255, 255, 255);
}

.redes-sociales li:hover {
    background-color: rgb(188, 188, 188);
}

/* ----------------------------------------formulario----------------------- */

#formularioPrincipal {
    background-color: #e4e4e4;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
form h2 {
    color: #0066b3;
}

div {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}


textarea {
    resize: vertical;
}

#mensaje_formulario{
    border-bottom: 3px solid rgb(144, 144, 144);
}

div {
    margin-bottom: 15px;
}

label {
    display: inline-block;
    width: 150px;
    font-weight: bold;
}

input[type="file"],
input[type="date"],
input[type="color"],
input[type="password"],
input[type="checkbox"],
input[type="radio"],
input[type="submit"] {
    margin-left: 10px;
}

input[type="file"] {
    width: 200px;
}

select {
    width: 200px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

input[type="checkbox"],
input[type="radio"] {
    margin-left: 0;
}

input[type="checkbox"]+label,
input[type="radio"]+label {
    margin-left: 5px;
}

/*----------------tabla de proyectos------------------*/
#proyectosNeumaatica{
    color: #0066b3;
}


table {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid #ccc;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f5f5f5;
}
